/* toolbar */
.toolbar_button button{
    padding:0;
    text-align:center;
}
.logo{
    background:url(webix-logo.svg) 15px 5px no-repeat;
}
/* list of persons */
.userpic{
    border-radius:25px;
    width:50px;
    height:50px; 
    background-color:#1a73c7;
  	color:#fff;
  	text-align:center;
    line-height:53px;
    font-size:31px;
    margin-right:15px;
    float:left;
}
.money{
    color:#777;
    display:block;
}
.persons_list .webix_list_item,
.persons_list .webix_list_item.webix_selected{
    padding:10px 10px;
    line-height:24px;
}
/* transactions grid */
.success{
    color:green;
}
.waiting{
    color:orange;
}
.failed{
    color:red;
}
.type, .status{
    text-align: center;
}
.incoming{
    color:green;
}
.payment{
    color:red;
}
.shop{
    font-weight: bold;
}
.webix_ss_header td {
    border: 0 none !important;
}