/* toolbar */
.toolbar_button button{
	padding:0;
	text-align:center;
}
.logo{
	background:url(webix-logo.svg) 2px 2px no-repeat;
}
/* list of persons */
.userphoto, .userpic{
	border-radius:25px;
	width:50px;
	height:50px;
	float:left;
	margin-right:15px;
}
.userpic{
	background-color:#1a73c7;
  	color:#fff;
  	text-align:center;
	line-height:53px;
	font-size:31px;
}
.username{
	color:#313131;
	font-weight:500;
	line-height:26px;
}
.money{
	color:#475466;
	display:block;
}
.persons_list .webix_list_item,
.persons_list .webix_list_item.webix_selected{
	padding:10px;
	line-height:20px;
}
/* transactions grid */
.success{
	color:#55CD97;
}
.waiting{
	color:orange;
}
.failed{
	color:#FF5C4C;
}
.type, .status{
	text-align:center;
}
.incoming{
	color:#55CD97;
}
.payment, .unread{
	color:#FF5C4C;
}
/* notifications */
.notifications .webix_list_item{
	line-height:20px;
	padding:10px;
}
.notifications .webix_list_item .m_title{
	font-weight:500;
}
.notifications .webix_list_item .message{
	display:block;
}
.link{
	color:blue;
	text-decoration:underline;
	cursor:pointer;
}
